<!-- interview_app/templates/school_list.html -->
{% extends 'awards/layouts/main.html' %}
{% block title %}
Class
{% endblock title %}
{% block content %}
<section class="bg-light py-4 my-5" style="min-height:600px;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="mb-3" style="text-align:center">Grate Award Ceremony </h4>
          <hr style="border-color:#b8bfc2;">
        </div>
      
        {% load static %}
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/award1.jpeg' %}" class="d-block w-100" alt="slide 1">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/award2.jpeg' %}" class="d-block w-100" alt="slide 2">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/award1.jpeg' %}" class="d-block w-100" alt="slide 3">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/award2.jpeg' %}" class="d-block w-100" alt="slide 4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
        </div>
    </div>
   </section>
{% endblock content %}

