<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href=" #"><i class ="fa fa-trophy"></i> Awards</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link " aria-current="page" href="#"><i class ="fa fa-home"></i> Home</a>
          {% comment %} {% if request.user.is_authenticated %}
          <a class="nav-link " aria-current="page" href="#"><i class ="fa fa-user"></i> {{request.user}}</a>
          <a class="nav-link " aria-current="page" href=" #"><i class ="fa fa-home"></i> Logout</a>
          {% else %}
          <a class="nav-link" href=" #"><i class ="fa fa-user"></i> Register</a>
          <a class="nav-link" href=" #"><i class ="fa fa-sign-in"></i> Login</a>
          {% endif%} {% endcomment %}
          <a class="nav-link" href=" {% url 'school' %}"><i class ="fa fa-building"></i> School</a>
          <a class="nav-link" href=" {% url 'student' %}"><i class ="fa fa-user"></i> Student</a> 
          <a class="nav-link" href=" {% url 'award' %}"><i class ="fa fa-trophy"></i> Awards</a>
          <a class="nav-link" href=" {% url 'subject' %}"><i class ="fa fa-book"></i> Subject</a>
          <a class="nav-link" href=" {% url 'answer' %}"><i class ="fa fa-comment"></i> Answer</a>
          <a class="nav-link" href=" {% url 'classes' %}"><i class ="fa fa-collection"></i> classes</a> 
          <a class="nav-link" href=" {% url 'assessment' %}"><i class ="fa fa-graduation-cap"></i> assessment</a>
          <a class="nav-link" href=" {% url 'summary' %}"><i class ="fa fa-file-text"></i> summary</a>

        </div>
      </div>
    </div>
  </nav>